#define WIFI_SSID "ZURE_WIFI_SSID"
#define WIFI_PASSWORD "ZURE_WIFI_PASAHITZA"

#define MQTT_SERVER "eu.thingsboard.cloud"
#define MQTT_PORT 1883
#define MQTT_USERNAME "ZURE_THINGSBOARD_TOKEN"
#define MQTT_TOPIC "v1/devices/me/telemetry"